/*-------------------------------------------------- 
GLOBAL STYLES
-------------------------------------------------- */
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

/*-------------------------------------------------- 
CUSTOMIZE TRANSPARENT HEADER
-------------------------------------------------- */
#carousel {
    margin-top: -55px;
}

.bg-inverse {
    background-color : transparent !important;
}

nav a img{
    cursor: pointer;
    width: 132px;
    height: 50px;
}

i {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 30px;
    background: #a7cd70;
    color: white;
    box-shadow:  0 0 0 4px #DCDCDC;
    transition: all 0.3s ease 0s;
}

i:hover{
    box-shadow:  0 0 0 4px #a7cd70;
    background: white;
    color: #a7cd70;
}

.owl-carousel {
    position: relative;
    height: 100%;
}