/*-------------------------------------------------- 
GLOBAL STYLES
-------------------------------------------------- */
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

/*-------------------------------------------------- 
CUSTOMIZE TRANSPARENT HEADER
-------------------------------------------------- */
#carousel {
    margin-top: -55px;
}

.bg-inverse {
    background-color : transparent !important;
}

nav a img{
	cursor: pointer;
	width: 132px;
	height: 50px;
}
i {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 30px;
    background: #a7cd70;
    color: white;
    box-shadow:  0 0 0 4px #DCDCDC;
    transition: all 0.3s ease 0s;
}

i:hover{
    box-shadow:  0 0 0 4px #a7cd70;
    background: white;
    color: #a7cd70;
}

.owl-carousel {
    position: relative;
    height: 100%;
}

h2 {
    font-size: 36px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr.primary {
    border-top: 6px solid #a7cd70;
    max-width: 100px;
    margin: 25px auto;
    border-bottom: none;
}

.flex-item {
    width: 358px;
    height: 260px;
    margin: 10px;
}

.thumbnail{
    width: 358px;
    height: 260px;
    z-index:100;
    margin: 10px;
}

.thumbnail:hover {
    background: rgba(62, 68, 77, 0.9);
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

.effect {
    position : absolute;
    display:none;
    top:20%;
    width:40px;
    margin:0 auto; left:0px;
    right:0px;
}

.col-sm-4{
    float:left;
    position:relative
}

.col-sm-4:hover .effect{
    display:block
}

span.fa {
    color: white;
    margin-top: 65px;
    margin-left: 18px;
}

img.flex-item {
    position:relative;
    z-index: -1;
    margin-left: 0px;
    margin-top: 0px;
}

div[data-filter="web"]{
    background:red;

}

a[data-filter="web"]:focus ~ div:not([data-filter="web"]){
    height:0px;
    width:0px;
    border:none;
    margin:0;
}

a[data-filter="graphic"]:focus ~ div:not([data-filter="graphic"]){
    height:0px;
    width:0px;
    border:none;
    margin:0;
}

a[data-filter="print"]:focus ~ div:not([data-filter="print"]){
    height:0px;
    width:0px;
    border:none;
    margin:0;
}

div {
    -webkit-transition:all .8s linear;
    -moz-transition:all .8s linear;
    -o-transition:all .8s linear;
    -ms-transition:all .8s linear;
    transition:all .8s linear;
}

.filters {
    height: 50px;
}
